{% extends "base_generic.html" %}

{% block content %}

    <p class="container">Echa un vistazo a algunos de nuestras confecciones más destacadas</p>

 <!-- Container for the image gallery -->
    <div class="container">
            {% load static %}
                <!-- Full-width images with number text -->
                <div class="mySlides" styles="background-image:url(/static/images/MW.jpg)">
                <div class="numbertext">1 / 13</div>
                    <img src="{%  static 'images/conf/camisa.PNG' %}" width="400" height="400">
                </div>
            
                <div class="mySlides">
                <div class="numbertext">2 / 13</div>
                    <img src="{%  static 'images/conf/camisa2.PNG' %}" width="400" height="400">
                </div>
            
                <div class="mySlides">
                <div class="numbertext">3 / 13</div>
                    <img src="{%  static 'images/conf/delantal.PNG' %}" width="400" height="400">
                </div>
            
                <div class="mySlides">
                <div class="numbertext">4 / 13</div>
                    <img src="{%  static 'images/conf/emojines.PNG' %}" width="400" height="400">
                </div>
            
                <div class="mySlides">
                <div class="numbertext">6 / 13</div>
                    <img src="{%  static 'images/conf/uniforme encargada.png' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">7 / 13</div>
                    <img src="{%  static 'images/conf/falda.PNG' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">8 / 13</div>
                    <img src="{%  static 'images/conf/fald2.PNG' %}" width="300" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">9 / 13</div>
                    <img src="{%  static 'images/conf/falda3.PNG' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">10 / 13</div>
                    <img src="{%  static 'images/conf/titeres.PNG' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">11 / 13</div>
                    <img src="{%  static 'images/conf/uniforme.PNG' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">12 / 13</div>
                    <img src="{%  static 'images/conf/cuadrille.png' %}" width="400" height="400">
                </div>

                <div class="mySlides">
                    <div class="numbertext">13 / 13</div>
                    <img src="{%  static 'images/conf/Uniforme TUA.png' %}" width="400" height="400">
                </div>
            
                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            
                <!-- Image text -->
                <div class="caption-container">
                <p id="caption"></p>
                </div>
    
        <!-- Thumbnail images -->

    </div> 

    <section class="container">
        {% for producto in producto %}
        <div class="card">
            <p class="card-title">Articulo: {{producto.nom}}</p>
            <div> Precio: {{producto.prec}}</div>
            <img src='{{producto.images_2.url}}'></img>
            <a href="{{ producto.get_absolute_url }}">Ver articulos</a>
            {% if user.is_authenticated and user.is_staff%}
            <a href="{% url 'prod-update' producto.id %}">Actualizar articulo</a>
            <a href="{% url 'prod-delete' producto.id %}">Eliminar articulo</a>
            {% endif %}
        </div>
        {% endfor %}
    </section>


{% endblock %}